/* BlogTree.module.css */
.node {
  position: relative;
}

.firstChild::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 15px; /* Adjust according to the height of your item */
  width: 20px;
  height: 1px;
  border-top: 2px solid black;
}

.firstChild::after {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  width: 1px;
  height: 15px;
  border-left: 2px solid black;
}
